<div id="signin_form" class="form-horizontal">
<h3>Sign In</h3>
<br>
<%= form_for @user, url: signin_path do |f| %>

  <div class="control-group">
    <%= f.label :username, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :username %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <br>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Sign In", class: "btn btn-primary btn-sm" %>
    </div>
  </div>

<% end %>
</div>