<div class="pull-left">

<h3>User Information </h3>

<p> Username: <%= @user.username %></p><p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>

</div>




<div class="pull-right"> <h3>Submitted Linqes</h3>
<table class="table table-hover" id="user_show_linqes">

 <% @user.linqes.each do |linqe| %>


 <tr>
   <td><div><%= link_to linqe.title, linqe_path(linqe) %></div></td>

     <% if current_user && current_user.id == @user.id %>

   <td><%= button_to "Edit Linqe", edit_linqe_path(linqe), method: :get, class:"btn btn-secondary btn-sm"%></td>
   <td><%= button_to "Delete Linqe", linqe_path(linqe), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-secondary btn-sm"%></td>
    <td><%= button_to "View Comments", linqe_path(linqe), method: :get, class:"btn btn-secondary btn-sm"%></td>
    <% end %>
    <% end %>

  </tr>
  </table>

</div>





<div id="comment-history"> <h3>Comment History</h3>
  <table class="table table-hover" id="user_show_linqes">
  <tr>
     <% @user.comments.each.with_index(1) do |comment, i| %>
     <td>
         <div id="single_comment"> <%= "#{i}. #{comment.content}"%></div>
    </td>


  </tr>
   <% end %>
  </table>

</div>


