<div class="pull-left">

<h3>User Information </h3>

<p> Username: <%= @user.username %></p><p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
</div>
<div class="pull-right"> <h3>Submitted Linqes</h3>
<table class="table table-hover" id="user_show_linqes">
 <% @user.linqes.each do |linqe| %>
 <tr>
   <td><div><%= link_to linqe.title, linqe_path(linqe) %></div></td>
     <% if current_user && current_user.id == @user.id %>
     <td><%= button_to "Edit Linqe", edit_linqe_path(linqe), method: :get, class:"btn btn-secondary btn-sm"%></td>
     <td><%= button_to "Delete Linqe", linqe_path(linqe), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-secondary btn-sm"%></td>
     <td><%= button_to "View Comments", linqe_path(linqe), method: :get, class:"btn btn-secondary btn-sm"%></td>
    <% end %>
    <% end %>
  </tr>
  </table>



<% if current_user && current_user.id == @user.id %>

<div id="comment-history"> <h3>Comment History</h3>
  <table class="table table-hover" id="user_show_linqes">
    <%= form_tag destroy_multiple_comments_path, method: :delete %>
    <tr>
     <% Comment.where(:commenter_id => @user.id).each.with_index(1) do |comment, i| %>
        <td> <%= check_box_tag "comments[]", comment.id %> <%= " #{i}. #{comment.content}"%></td>
      <% end %>
    </tr>
  </table>
    <div class="pull-right"><%= submit_tag "Delete selected", data: {confirm: 'Are you sure?'}, class:"btn btn-secondary btn"%></th>
</div>

<% else %>

<div id="comment-history"> <h3>Comment History</h3>
  <table class="table table-hover" id="user_show_linqes">
    <tr>
     <% Comment.where(:commenter_id => @user.id).each.with_index(1) do |comment, i| %>
        <td>  <%= " #{i}. #{comment.content}"%></td>
      <% end %>
    </tr>
  </table>

<% end %>
