<% if @linqe.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@linqe.errors.count, "error") %> prohibited this linqe from being saved:</h2>
     <ul>
     <% @linqe.errors.full_messages.each do |message| %>
       <li><%= message %></li>q
     <% end %>
     </ul>
   </div>
 <% end %>

<h1>Create new linqe:</h1>

<%= form_for @linqe, html: { class: "form-horizontal" } do |f| %>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :url, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :url %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description, size:"40x5" %>
    </div>
  </div>

  <br>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  </div>

<% end %>