<h1>Create new linqe:</h1>

<%= form_for @linqe, html: { class: "form-horizontal" } do |f| %>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :url, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :url %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>

  <br>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

<% end %>