<br> 
<br>

<h2><%= link_to @linqe.title, @linqe.url, target: "_blank" %></h2>
<% if current_user == @linqe.submitter %>
<div class="pull-left"> <%= button_to "Edit Linqe", edit_linqe_path, method: :get, class:"btn btn-secondary btn-sm"%></div>
<div class="pull-left"> <%= button_to "Delete Linqe", edit_linqe_path, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-secondary btn-sm"%></div>
<% end %>
<br>



<h4><i><%= @linqe.description %></i></h4>

<br>
<br>
<h4>Comments</h4>
<br>

<% if @linqe.comments.empty? %>

  <%= render 'new_comment' %>

<% else %>

  <% @linqe.comments.each_with_index do |comment, i| %>

   <%= "#{comment.created_at.to_formatted_s(:long)}"%>
   <br>
    by <%= link_to "#{comment.commenter.username}", user_path(comment.commenter) %>
     <p>
        <b> <%="#{comment.content}" %> </b>
    </p>
    <br>
  <% end %>

  <%= render 'new_comment' %>
<% end %>




